* {
    background-image: none;
    font-family: sans-serif;
    transition: all 0.3s cubic-bezier(0.55, 0.0, 0.28, 1.682);
}

window {
    background-color: transparent;
}

button {
    background-color: rgba(43, 40, 61, 0.8); /* Morado oscuro semitransparente base */
    color: #ffffff;
    border: none;
    box-shadow: none;
    text-align: center;
    /* Los márgenes superior e inferior dan espacio para que el hover crezca */
    margin: 30px 0; 
    padding: 20px 30px;
    min-width: 120px;
    min-height: 100px;
}

button:focus, button:active {
    background-color: rgba(43, 40, 61, 0.8);
}

/* Efecto de "Píldora" para los extremos */
#lock {
    border-radius: 24px 0 0 24px; /* Redondeado izquierdo para el primer botón */
}

#logout, #suspend, #shutdown {
    border-radius: 0; /* Cuadrados en el centro */
}

#reboot {
    border-radius: 0 24px 24px 0; /* Redondeado derecho para el último botón */
}

/* Efecto Pop-out al pasar el mouse */
button:hover {
    background-color: rgba(144, 104, 136, 0.9); /* Tono rosado/morado claro de la imagen */
    border-radius: 24px; /* Se vuelve completamente redondeado */
    /* Reduce el margen vertical para hacerlo más alto, y usa negativo horizontal para separarlo/superponerlo */
    margin: 10px -8px; 
    min-height: 140px;
    z-index: 10;
}