* {
    background-image: none;
    font-family: sans-serif;
    font-size: 12px;
    transition: 200ms;
}

window {
    background-color: transparent;
}

button {
    background-color: rgba(43, 40, 61, 0.7); /* Morado oscuro semitransparente */
    color: #ffffff;
    border: none;
    box-shadow: none;
    text-align: center;
    margin: 0;
    padding: 0 30px;
    min-width: 120px;
    min-height: 80px;
}

button:focus, button:active {
    background-color: rgba(43, 40, 61, 0.7);
}

button:hover {
    background-color: rgba(76, 74, 98, 0.8); /* Hover más claro */
    border-radius: 16px;
    margin: 0 8px; /* Hace que "crezca" separándose ligeramente */
    transition: all 0.3s cubic-bezier(0.55, 0.0, 0.28, 1.682);
}

#shutdown {
    border-radius: 16px 0 0 16px; /* Redondeado izquierdo */
}

#reboot {
    border-radius: 0;
}

#suspend {
    border-radius: 0;
}

#logout {
    border-radius: 0 16px 16px 0; /* Redondeado derecho */
}