* {
    background-image: none;
    font-family: sans-serif;
    font-size: 14px;
    transition: 200ms;
}

window {
    background-color: rgba(30, 30, 46, 0.4); /* Morado oscuro semitransparente, ajusta si tu tema es diferente */
    border-radius: 20px;
    border: 0px solid rgba(255, 255, 255, 0.1);
}

button {
    background-color: rgba(40, 40, 60, 0.6);
    border-radius: 15px;
    color: #ffffff;
    margin: 20px 10px;
    padding: 10px 20px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: none;
    border: none;
}

button:focus, button:active, button:hover {
    background-color: rgba(80, 80, 100, 0.7);
    color: #ffffff;
}